<div class="row">
    <div class="col-lg-12 container-proyectos">
      <h2 class="section">Proyectos</h2>
      <!-- agregar nuevo proyecto -->
      <button
        type="button"
        class="btn btn-dark nuevoproyecto redondo"
        data-toggle="modal"
        data-target="#proyectoForm"
        *ngIf="isLogged"
        (click)="onNew()"
       
      >
        <img src="../../../assets/btnagregar.png" alt="boton para agregar" />
      </button>
    </div>
    <!--  Proyectos -->
    <div class="col-lg-12">
        <ul class="items-list" id="proyectoList">
            <li *ngFor="let proyecto of proyectoList; let i = index">
                <h3>{{proyecto.titulo}}</h3>
                <p>
                    {{proyecto.descripcion}}
                </p>
                <div class="col-sm-12 col-md-3 col-lg-3 col-md-1 col-lg-1">
                    <a href={{proyecto.repoUrl}} target="_blank"><img [src]="proyecto.imgUrl" class="img-fluid img-proyect"  title="Repositorio"></a>
                </div>

                <div class="container-buttonIcon">
                    <div *ngIf="isLogged" class="container-button">
                      <button
                        class="btn btn-light"
                        data-bs-toggle="modal"
                        data-bs-target="#proyectoForm"
                        (click)="onEdit(i)"
                      >
                        <img class="button-icon edit" src="../../../assets/edit.svg" />
                      </button>
                    </div>
                    <div *ngIf="isLogged" class="container-button">
                      <button class="btn btn-danger" (click)="onDelete(i)">
                        <img
                          class="button-icon trash"
                          src="../../../assets/trash.svg"
                        />
                      </button>
                    </div>
                  </div>
                                
            </li>      
        </ul>
    </div>
<!-- Modal proyectoForm-->
<div
  class="modal fade"
  id="proyectoForm"
  tabindex="-1"
  aria-labelledby="proyectoFormLabel"
  aria-hidden="true"
>
<div class="modal-dialog">
  <div class="modal-content">
    <div class="modal-header">
      <h4 class="modal-title" id="proyectoFormLabel">
        Proyectos
      </h4>
      <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
    </div>
    <div class="modal-body">
      <form [formGroup]="proyectoForm" (ngSubmit)="onSubmit()">
        <input type="hidden" name="id" formControlName="id" />

        <div class="form-group">
          <label for="titulo">Titulo</label>
          <input
            type="text"
            formControlName="titulo"
            name="titulo"
            id="titulo"
            class="form-control"
            required
          />
        </div>
        <div class="form-group">
          <label for="descripcion">Descripción</label>

          <input
            type="text"
            name="descripcion"
            id="descripcion"
            class="form-control"
            formControlName="descripcion"
            required
          />
        </div>
        <div class="form-group">
          <label for="imgUrl">Imagen</label>
          <input
            type="text"
            name="imgUrl"
            id="imgUrl"
            class="form-control"
            formControlName="imgUrl"
            required
          />
        </div>
        <div class="form-group">
          <label for="repoUrl">URL repositorio</label>
          <input
            type="text"
            name="repoUrl"
            id="repoUrl"
            class="form-control"
            formControlName="repoUrl"
            required
          />
        </div>
        <div class="modal-footer">
          <button 
          type="button" 
          class="btn btn-ligth" 
          data-dismiss="modal">
            Cerrar
          </button>
          <button
            type="submit"
            data-bs-toggle="modal"
            id="btnGuardar"
            class="btn btn-dark"
          >
            Guardar
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
</div>