<div class="container">
    <div class="row">
        <div>
            <form (ngSubmit)="onCreate()" novalidate #f="ngForm">
                <div class="form-group">
                    <label for="tituloEd">Titulo</label>
                    <input type="text" name="tituloEd" id="tituloEd" class="form-control" [(ngModel)]="tituloEd" required>
                </div>
                <div class="form-group">
                    <label for="institucion">Institución</label>
                    <input type="text" name="institucion" id="institucion" class="institucion" [(ngModel)]="institucion" required>
                </div>
                <div class="form-group">
                    <label for="fechaIngreso">Año de Ingreso</label>
                    <input type="number" min="1970"
                    max="2022" name="fechaIngreso" id="fechaIngreso" class="fechaIngreso" [(ngModel)]="fechaIngreso" required>
                </div>
                <div class="form-group">
                    <label for="fechaFinal">Año de Finalización</label>
                    <input type="number" min="1970"
                    max="2022" name="fechaFinal" id="fechaFinal" class="fechaFinal" [(ngModel)]="fechaFinal" required>
                </div>
                <div class="form-group">
                    <label for="descripcionEd">Descripción</label>
                    <input type="text" name="descripcionEd" id="descripcionEd" class="form-control" [(ngModel)]="descripcionEd" required>
                </div>
                <button type ="submit" class="btn btn-primary">Agregar Educación</button>
            </form>
        </div>
    </div>
</div>
