<div class="row">
    <div class="col-xs-12 containerfoto">
        <img src="../../../assets/profilePhoto.jpg" alt="Foto de perfil" class="img-fluid fotodeperfil">
    </div>
    <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3 containerinfo datospersonales">
        <p class="nombre">Mariquena Allosa</p>
        <p>Full Stack Developer Jr</p>
    </div>
    <div  class="acercademi col-xs-12 col-sm-8 col-md-8 col-lg-8">
        <!-- <span> -->
            <h1>Acerca de mí</h1>
            <p>Deseo formar parte de un equipo que me permita poner en práctica mis conocimientos y seguir aprendiendo en cada nuevo desafío. Puedo aportar mi creatividad y capacidad analítica a la hora de resolver problemas. <br>

                Soy responsable con buena capacidad de organización. Asumo mis trabajos con compromiso y dedicación. Me destaco en mi empeño y perseverancia por conseguir los mejores resultados. <br>
                
                Poseo conocimientos de diseño gráfico y fotografía. Me gusta capacitarme y tengo facilidad de aprendizaje lo cual me permite adaptarme a los cambios.</p>
        <!-- </span> -->
    </div>
</div>