.row {
    padding:20px;
}
div{
    background-color:#fff;
    color:#000;
    text-align: center;
}

.acercademi p{
    text-align: justify;
}
/* Nombre y trabajo */

.nombre {
    font-weight:bold;
    font-size:20px;
    margin-bottom: 0px;
}

/* Estilo de la foto de perfil y nombre */
@media only screen and (min-width:576px){
    .fotodeperfil{
        background-color: #fff;
        padding:3px;
        position:absolute;
        width:200px;
        object-fit:cover;
        border-radius: 100%;
        /* box-shadow: 2px 6px 6px -4px rgba(95, 95, 95, 0.89); */
        left:2%;
        top: 350px;
       
}
     .datospersonales{
        position:relative;
        margin-top:90px;
        margin-left:35px;
        text-align: left;
     }
}


@media only screen and (max-width:575px){


    .fotodeperfil{
        background-color: #fff;
        padding:3px;
        margin:0 auto;
        width:250px;
        object-fit:cover;
        border-radius: 100%;
        /* box-shadow: 2px 6px 6px -4px rgba(95, 95, 95, 0.89);
        -webkit-border-radius: 100%;
        -moz-border-radius: 100%;
        -ms-border-radius: 100%;
        -o-border-radius: 100%; */
       margin-top: -150px;
    }

}
