<hr>
<div class="row">
  
  <div class="col-lg-12 container-exp">
    <h1 class="section">Experiencia laboral</h1>
    <!-- routerLink="/nuevaexp" -->
    <button
      type="button"
      class="btn btn-dark nuevaexp redondo"
      data-toggle="modal"
      data-target="#expModal"
      *ngIf="isLogged"
    >
    <img src="../../../assets/btnagregar.png" alt="boton para agregar">
    </button>
  </div>
  <!--  -->

  <div class="col-lg-1"></div>
  <div class="container">
    <div class="row">
      <div class="info-item card" *ngFor="let Experiencia of experiencia">
        <h3 class="card-header">{{ Experiencia.tituloExp }}</h3>
        <div class="card-body">
            <div class="container-buttonIcon">
                <div *ngIf="isLogged" class="container-button">
                    <button
                      class="btn btn-light"
                      data-toggle="modal"
                      data-target="#expModal"
                      
                    >
                    <img class="button-icon edit" src="../../../assets/edit.svg">
                    </button>
                  </div>
                  <div *ngIf="isLogged" class="container-button">
                    <button class="btn btn-danger" (click)="delete(Experiencia.id)">
                      <img class="button-icon trash" src="../../../assets/trash.svg">
                    </button>
                  </div>
            </div>
          <h4 class="card-title">
            <em>{{Experiencia.empleador }}</em>
          </h4>
          <h5 class="card-subtitle mb-2 text-muted">
            {{ Experiencia.fechaIngreso }}-{{ Experiencia.fechaFinal }}
          </h5>
          <p class="card-text">{{ Experiencia.descripcionE }}</p>
         
        </div>
      </div>
    </div>
  </div>
</div>

  <!-- MODAL -->

  <div
    class="modal fade"
    id="expModal"
    tabindex="-1"
    role="dialog"
    aria-labelledby="expModalLabel"
    aria-hidden="true"
  >
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h3 class="modal-title" id="expModalLabel">Experiencia Laboral</h3>
          <button
            type="button"
            class="close"
            data-dismiss="modal"
            aria-label="Close"
          >
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <!--form -->
          <form  (ngSubmit)="onCreate()" novalidate #f="ngForm">
            <div class="form-group">
              <label for="tituloExp">Cargo</label>
              <input
                type="text"
                [(ngModel)]="tituloExp"
                name="tituloExp"
                id="tituloExp"
                class="form-control"
                required
              />
            </div>
            <div class="form-group">
              <label for="empleador">Empresa</label>

              <input
                        type="text"
                        name="empleador"
                        id="empleador"
                        class="form-control"
                        [(ngModel)]="empleador"
                        required
                      />
                    </div>
                    <div class="form-group">
                      <label for="fechaIngreso">Año de Ingreso</label>
                      <input
                        type="number"
                        min="1970"
                        max="2022"
                        name="fechaIngreso"
                        id="fechaIngreso"
                        class="form-control"
                        placeholder=1970
                        [(ngModel)]="fechaIngreso"
                        required
                      />
                    </div>

                    <div class="form-group">
                      <label for="fechaFinal">Año de Finalización</label>
                      <input
                        type="number"
                        min="1970"
                        max="2022"
                        name="fechaFinal"
                        id="fechaFinal"
                        class="form-control"
                        placeholder=2022
                        [(ngModel)]="fechaFinal"
                        required
                      />
                    </div>
                    <div class="form-group">
                      <label for="descripcionEd">Descripción</label>
                      <input
                        type="text"
                        name="descripcionE"
                        id="descripcionE"
                        class="form-control"
                        [(ngModel)]="descripcionE"
                        required
                      />
                    </div>
                    <div class="modal-footer">
                      <button type="button" class="btn btn-ligth" data-dismiss="modal">
                        Cerrar
                      </button>
                      <button
                        type="submit"
                        id="btnGuardar"
                        class="btn btn-dark"
                      >
                        Agregar Experiencia
                      </button>
                     </div>
                  </form>
           

        </div>
      </div>
    </div>
  </div>

