#logoAP {
    width: 150px;
    margin-top: -4px;
    margin-left: 10px;
}
.redes img{
    width: 35px;
    margin-right: 10px;
    margin-top: -2px;
}
button {
    margin-right:10px;
    color:#3e5f68;
    font-size: 16px;
    font-weight: bold;
    text-transform:uppercase;
    padding:4px;
    transition:all 1s;
    all-webkit-transition:;
    -moz-transition:all 1s;
    -ms-transition:all 1s;
    -o-transition:all 1s;
    -webkit-transition:all 1s;
}

button:hover {
    color:#fff;
    background-color:#3e5f68;
}

button:focus{
    color:#18282c;
} 

.container{
    display:flex;
    justify-content:space-between; 
    align-items:center;
}
.btn{
    border-width: 2px;
}

p{
    color: white;
    margin-left:23px;
    margin-top: -30px;
    font-size: 15px;
    font-weight: bold;
    letter-spacing: 3px;
}



/* Arreglos para version mobile */
@media (max-width: 575px){
.container {
    flex-direction: column;
}
.redes{
    display:flex;
    flex-direction: column;
    align-items:center;
}
.redes img {
    margin: 0.2em
}
}