<div class="row">
    <h2>Hard and Soft skills</h2>
    <div class="col-lg-1"></div>
  <div class="hardSkills-container">
    <div class="circle-container">
      <circle-progress 
        [percent]="95"
        [showImage]="true"
        [imageSrc]="'../assets/html.png'"
        [imageWidth]="60"
        [imageHeight]="60"
        [showUnits]="false"
        [radius]="60"
        [outerStrokeWidth]="6"
        [innerStrokeWidth]="2"
        [outerStrokeColor]="'#fff'"
        [innerStrokeColor]="'#fff'"
        [animation]="true"
        [animationDuration]="800"
></circle-progress>
  <p>HTML</p>
    </div>

    <div class="circle-container">
      <circle-progress
        [percent]="90"
        [showImage]="true"
        [imageSrc]="'../assets/css.png'"
        [imageWidth]="60"
        [imageHeight]="60"
        [showUnits]="false"
        [radius]="60"
        [outerStrokeWidth]="6"
        [innerStrokeWidth]="2"
       [outerStrokeColor]="'#fff'"
        [innerStrokeColor]="'#fff'"
        [animation]="true"
        [animationDuration]="800"
></circle-progress>
<p>CSS</p>
    </div>

    <div class="circle-container">
      <circle-progress
        [percent]="85"
        [showImage]="true"
        [imageSrc]="'../assets/bootstrap.png'"
        [imageWidth]="80"
        [imageHeight]="70"
        [showUnits]="false"
        [radius]="60"
        [outerStrokeWidth]="6"
        [innerStrokeWidth]="2"
       [outerStrokeColor]="'#fff'"
        [innerStrokeColor]="'#fff'"
        [animation]="true"
        [animationDuration]="800"
></circle-progress>
<p>Bootstrap</p>
    </div>
    <div class="circle-container">
      <circle-progress
        [percent]="50"
        [showImage]="true"
        [imageSrc]="'../assets/js.png'"
        [imageWidth]="60"
        [imageHeight]="60"
        [showUnits]="false"
        [radius]="60"
        [outerStrokeWidth]="6"
        [innerStrokeWidth]="2"
       [outerStrokeColor]="'#fff'"
        [innerStrokeColor]="'#fff'"
        [animation]="true"
        [animationDuration]="800"
></circle-progress>
<p>JavaScript</p>
    </div>


    <div class="circle-container">
      <circle-progress
        [percent]="50"
        [showImage]="true"
        [imageSrc]="'../assets/typescript.png'"
        [imageWidth]="65"
        [imageHeight]="65"
        [showUnits]="false"
        [radius]="60"
        [outerStrokeWidth]="6"
        [innerStrokeWidth]="2"
       [outerStrokeColor]="'#fff'"
        [innerStrokeColor]="'#fff'"
        [animation]="true"
        [animationDuration]="800"
></circle-progress>
  <p>TypeScript</p>
    </div>

    <div class="circle-container">
      <circle-progress
        [percent]="66"
        [showImage]="true"
        [imageSrc]="'../assets/Angular.png'"
        [imageWidth]="90"
        [imageHeight]="90"
        [showUnits]="false"
        [radius]="60"
        [outerStrokeWidth]="6"
        [innerStrokeWidth]="2"
       [outerStrokeColor]="'#fff'"
        [innerStrokeColor]="'#fff'"
        [animation]="true"
        [animationDuration]="800"
></circle-progress>
    <p>Angular</p>
    </div>

    <div class="circle-container">
      <circle-progress
        [percent]="40"
        [showImage]="true"
        [imageSrc]="'../assets/java.png'"
        [imageWidth]="90"
        [imageHeight]="80"
        [showUnits]="false"
        [radius]="60"
        [outerStrokeWidth]="6"
        [innerStrokeWidth]="2"
       [outerStrokeColor]="'#fff'"
        [innerStrokeColor]="'#fff'"
        [animation]="true"
        [animationDuration]="800"
></circle-progress>
    <p>Java</p>
    </div>

    <div class="circle-container">
      <circle-progress
        [percent]="60"
        [showImage]="true"
        [imageSrc]="'../assets/spring.png'"
        [imageWidth]="80"
        [imageHeight]="70"
        [showUnits]="false"
        [radius]="60"
        [outerStrokeWidth]="6"
        [innerStrokeWidth]="2"
       [outerStrokeColor]="'#fff'"
        [innerStrokeColor]="'#fff'"
        [animation]="true"
        [animationDuration]="800"
></circle-progress>
      <p>Spring</p>
    </div>

    <div class="circle-container">
      <circle-progress
        [percent]="80"
        [showImage]="true"
        [imageSrc]="'../assets/mysql.png'"
        [imageWidth]="70"
        [imageHeight]="65"
        [showUnits]="false"
        [radius]="60"
        [outerStrokeWidth]="6"
        [innerStrokeWidth]="2"
       [outerStrokeColor]="'#fff'"
        [innerStrokeColor]="'#fff'"
        [animation]="true"
        [animationDuration]="800"
    ></circle-progress>
      <p>MySQL</p>
    </div>


    <div class="circle-container">
      <circle-progress
        [percent]="80"
        [showImage]="true"
        [imageSrc]="'../assets/photoshop.png'"
        [imageWidth]="70"
        [imageHeight]="65"
        [showUnits]="false"
        [radius]="60"
        [outerStrokeWidth]="6"
        [innerStrokeWidth]="2"
       [outerStrokeColor]="'#fff'"
        [innerStrokeColor]="'#fff'"
        [animation]="true"
        [animationDuration]="800"
></circle-progress>
    <p>Photoshop</p>
    </div>
    <div class="circle-container">
      <circle-progress
        [percent]="80"
        [showImage]="true"
        [imageSrc]="'../assets/ilustrador.png'"
        [imageWidth]="70"
        [imageHeight]="65"
        [showUnits]="false"
        [radius]="60"
        [outerStrokeWidth]="6"
        [innerStrokeWidth]="2"
       [outerStrokeColor]="'#fff'"
        [innerStrokeColor]="'#fff'"
        [animation]="true"
        [animationDuration]="800"
></circle-progress>
    <p>Ilustrator</p>
    </div>

    <div class="circle-container">
      <circle-progress
        [percent]="80"
        [showImage]="true"
        [imageSrc]="'../assets/git.png'"
        [imageWidth]="70"
        [imageHeight]="70"
        [showUnits]="false"
        [radius]="60"
        [outerStrokeWidth]="6"
        [innerStrokeWidth]="2"
       [outerStrokeColor]="'#fff'"
        [innerStrokeColor]="'#fff'"
        [animation]="true"
        [animationDuration]="800"
></circle-progress>
    <p>Git</p>
    </div>

    <div class="circle-container">
      <circle-progress
        [percent]="90"
        [showImage]="true"
        [imageSrc]="'../assets/github1.png'"
        [imageWidth]="70"
        [imageHeight]="70"
        [showUnits]="false"
        [radius]="60"
        [outerStrokeWidth]="6"
        [innerStrokeWidth]="2"
       [outerStrokeColor]="'#fff'"
        [innerStrokeColor]="'#fff'"
        [animation]="true"
        [animationDuration]="800"
></circle-progress>
    <p>Github</p>
    </div>


  </div>
  <div class="softSkills-container">
    <div class="circle-container">
      <circle-progress
      [percent]="90"
      [showImage]="true"
      [showUnits]="false"
      [title]="'TEAM'"
      [subtitle]="'hola'"
      [titleColor]="'#fff'"
      [titleFontSize]="'5'"
      [showTitle]="true"
      [radius]="60"
      [outerStrokeWidth]="6"
      [innerStrokeWidth]="2"
     [outerStrokeColor]="'#fff'"
      [innerStrokeColor]="'#fff'"
      [animation]="true"
      [animationDuration]="800"
      [showImage]="true"
      [imageSrc]="'../assets/teamwork.png'"
      [imageWidth]="70"
      [imageHeight]="70"
></circle-progress>
    <p>Trabajo en equipo</p>
    </div>


    <div class="circle-container">
      <circle-progress
      [percent]="90"
      [showImage]="true"
      [showUnits]="false"
      [title]="'TEAM'"
      [subtitle]="'hola'"
      [titleColor]="'#fff'"
      [titleFontSize]="'5'"
      [showTitle]="true"
      [radius]="60"
      [outerStrokeWidth]="6"
      [innerStrokeWidth]="2"
     [outerStrokeColor]="'#fff'"
      [innerStrokeColor]="'#fff'"
      [animation]="true"
      [animationDuration]="800"
      [showImage]="true"
      [imageSrc]="'../assets/compromiso.png'"
      [imageWidth]="70"
      [imageHeight]="70"
></circle-progress>
    <p>Compromiso</p>
    </div>

    <div class="circle-container">
      <circle-progress
      [percent]="90"
      [showImage]="true"
      [showUnits]="false"
      [title]="'TEAM'"
      [subtitle]="'hola'"
      [titleColor]="'#fff'"
      [titleFontSize]="'5'"
      [showTitle]="true"
      [radius]="60"
      [outerStrokeWidth]="6"
      [innerStrokeWidth]="2"
     [outerStrokeColor]="'#fff'"
      [innerStrokeColor]="'#fff'"
      [animation]="true"
      [animationDuration]="800"
      [showImage]="true"
      [imageSrc]="'../assets/crecimiento.png'"
      [imageWidth]="70"
      [imageHeight]="70"
></circle-progress>
    <p>Mentalidad de crecimiento</p>
    </div>

    <div class="circle-container">
      <circle-progress
      [percent]="90"
      [showImage]="true"
      [showUnits]="false"
      [title]="'TEAM'"
      [subtitle]="'hola'"
      [titleColor]="'#fff'"
      [titleFontSize]="'5'"
      [showTitle]="true"
      [radius]="60"
      [outerStrokeWidth]="6"
      [innerStrokeWidth]="2"
       [outerStrokeColor]="'#fff'"
      [innerStrokeColor]="'#fff'"
      [animation]="true"
      [animationDuration]="800"
      [showImage]="true"
      [imageSrc]="'../assets/aprendizaje.png'"
      [imageWidth]="70"
      [imageHeight]="70"
></circle-progress>
    <p>Aprendizaje constante</p>
    </div>

    <div class="circle-container">
      <circle-progress
      [percent]="90"
      [showImage]="true"
      [showUnits]="false"
      [title]="'TEAM'"
      [subtitle]="'hola'"
      [titleColor]="'#fff'"
      [titleFontSize]="'5'"
      [showTitle]="true"
      [radius]="60"
      [outerStrokeWidth]="6"
      [innerStrokeWidth]="2"
   [outerStrokeColor]="'#fff'"
      [innerStrokeColor]="'#fff'"
      [animation]="true"
      [animationDuration]="800"
      [showImage]="true"
      [imageSrc]="'../assets/flexibilidad.png'"
      [imageWidth]="70"
      [imageHeight]="70"
></circle-progress>
    <p>Flexibilidad</p>
    </div>

    <div class="circle-container">
      <circle-progress
      [percent]="90"
      [showImage]="true"
      [showUnits]="false"
      [radius]="60"
      [outerStrokeWidth]="6"
      [innerStrokeWidth]="2"
     [outerStrokeColor]="'#fff'"
      [innerStrokeColor]="'#fff'"
      [animation]="true"
      [animationDuration]="800"
      [showImage]="true"
      [imageSrc]="'../assets/gestiontiempo.png'"
      [imageWidth]="70"
      [imageHeight]="70"
></circle-progress>
    <p>Productividad</p>
    </div>

    <div class="circle-container">
      <circle-progress
      [percent]="90"
      [showImage]="true"
      [showUnits]="false"
      [radius]="60"
      [outerStrokeWidth]="6"
      [innerStrokeWidth]="2"
      [outerStrokeColor]="'#fff'"
      [innerStrokeColor]="'#fff'"
      [animation]="true"
      [animationDuration]="800"
      [showImage]="true"
      [imageSrc]="'../assets/inteligencia-emocional.png'"
      [imageWidth]="70"
      [imageHeight]="70"
></circle-progress>
    <p>Inteligencia emocional</p>
    </div>
</div>
