.row {
    padding:30px;
}
div {
    background-color: #3e5f68;
    color: #fff;
}
h3, h4 {
    display:inline;
}

.hardSkills-container{
    display:grid;
    grid-template-columns: repeat(auto-fill,minmax(150px,1fr));
    grid-gap:10px;
    padding:10px;
    margin:20px 10px;
}
.softSkills-container{
    display:grid;
    grid-template-columns: repeat(auto-fill,minmax(150px,1fr));
    grid-gap:10px;
    padding:10px;
    margin:20px 10px;
}

.circle-container{
    font-weight: bolder;
    align-items: center;
    text-align: center;
}

circle-progress:hover{
    filter: drop-shadow(3px 3px 2px rgb(53, 53, 53));
    -webkit-filter: drop-shadow(3px 3px 2px rgb(53, 53, 53));
}