.row {
    padding:30px;
    overflow-x: hidden;
}
div {
    background-color: #3e5f68;
    color: #fff;
}
h3, h4 {
    display:inline;
}
.container-skills{
    display:flex;
    justify-content: space-between;
}

button img{
    width:100%
}
h2{
    font-size:1.5rem;
    font-weight:400;
}
.redondo{
    display: block;
    margin-top:-25px;
    padding:2px;
    width: 40px;
    height: 40px;
    border:solid 1px #fff;
    border-radius: 50%;
    align-self: center;
    background-color: #aeaeae84;
}
.redondo:hover{
    background-color: #25393e
}
.modal{
    background-color: transparent;
   
}
.modal-dialog{
    background-color:#3e5f68;
}

.modal-header{
	padding:6px 10px 2px 6px;
	background-color:#fff;
	border:0px;
	height:50px;
}
.modal-header h4{
    font-size: 1rem;
    padding-top:10px;
    padding-left: 30px;
    color: #25393e;
}
.modal-body{
    padding:30px 40px 20px 40px;
 

}
.modal-input{
	background-color:#fff;
	border:1px solid #3e5f68
}
.modal-footer{
	border-top:none;
	padding:20px 15px 10px 15px;
}
.btn-cerrar{
    color:#fff
}
.form-group{
    margin:10px;
}
label{
    margin:10px;
}

.slidecontainer {
    width: 100%;
  }
  
.level {
    -webkit-appearance: none;
    width: 100%;
    height: 15px;
    border-radius: 5px;
    background: #25393e;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
  }
  
.level:hover {
    opacity: 1;
  }
  
.level::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 20px;
    height:20px;
    border-radius: 50%;
    background: hsl(171, 35%, 28%);
    cursor: pointer;
    box-shadow:0px 0px 3px 3px rgba(91, 91, 91, 0.26);
    background: url(https://www.flaticon.com/svg/vstatic/svg/59/59089.svg?token=exp=1614064733~hmac=a6f0cce2214fdb52e7df9eec24006427) #e7f0f2;
    background-size: 45%;
    background-position: center;
    background-repeat: no-repeat;
  }
  
.level::-moz-range-thumb {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: #ffffff;
    cursor: pointer;
    box-shadow:0px 0px 11px 8px rgba(0,0,0,0.26);
    background: url(https://www.flaticon.com/svg/vstatic/svg/59/59089.svg?token=exp=1614064733~hmac=a6f0cce2214fdb52e7df9eec24006427) #e6eef0;
    background-size: 45%;
    background-position: center;
    background-repeat: no-repeat;
  }
  
img.button-icon.edit{
    width:0.7rem;
}
img.button-icon.trash{
    filter:invert(100%);
    -webkit-filter:invert(100%);
    width: 0.68rem;
}
.container-buttonIcon{
    display:flex;
    justify-content: center;
    align-items:center;
    margin-top: -2px;
    margin-left: 2px;
}
.container-button{
    margin:2px;
}

.skills-container{
    display:grid;
    width: 95%;
    grid-template-columns: repeat(auto-fill,minmax(150px,1fr));
    grid-gap:10px;
    padding:10px;
    margin:20px 10px;
    margin-left: 20px;
}

.circle-container{
    font-weight: bolder;
    align-items: center;
    text-align: center;
}
.circle-container:hover{
    transform: translate(5px,5px);
    -webkit-transform: translate(5px,5px);
    -moz-transform: translate(5px,5px);
    -ms-transform: translate(5px,5px);
    -o-transform: translate(5px,5px);
}
circle-progress:hover{
    filter: drop-shadow(3px 3px 2px rgb(53, 53, 53));
    -webkit-filter: drop-shadow(3px 3px 2px rgb(53, 53, 53));
}

