<div class="row">
  <div class="col-xs-11 containerfoto">
    <img
      src="../../../assets/{{ persona.photoUrl }}"
      alt="Foto de perfil"
      class="img-fluid fotodeperfil"
    />
  </div>
  <div class="container-edit" *ngIf="isLogged">
    <button
      type="button"
      class="col-xs-1 btn btn-ligth edit"
      data-bs-toggle="modal"
      data-bs-target="#personaForm"
      (click)="onEdit()"
    >
      <img src="../../../assets/edit.svg" />
    </button>
  </div>

  <!-- MODAL personaForm -->
  <div
    class="modal fade"
    id="personaForm"
    tabindex="-1"
    aria-labelledby="personaFormLabel"
    aria-hidden="true"
  >
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h3 class="modal-title" id="personaFormLabel">Datos Personales</h3>
          <button
            type="button"
            class="btn-close"
            data-bs-dismiss="modal"
            aria-label="Close"
          ></button>
        </div>
        <div class="modal-body">
          <form [formGroup]="personaForm" (ngSubmit)="onSubmit()">
            <div class="form-group">
              <label for="nombre">Nombre</label>
              <input
                type="text"
                name="nombre"
                id="nombre"
                class="form-control"
                formControlName="nombre"
                required
              />
            </div>
            <div class="form-group">
              <label for="apellido">Apellido</label>
              <input
                type="text"
                name="apellido"
                id="apellido"
                class="form-control"
                formControlName="apellido"
                required
              />
            </div>
            <div class="form-group">
              <label for="titulo">Titulo</label>
              <input
                type="text"
                name="titulo"
                id="titulo"
                class="form-control"
                formControlName="titulo"
                required
              />
            </div>

            <div class="form-group">
              <label for="about">Acerca de mi</label>
              <input
                type="text"
                name="about"
                id="about"
                class="form-control"
                formControlName="about"
                required
              />
            </div>
            <div class="form-group">
              <label for="photoUrl">Foto de perfil</label>
              <input
                type="text"
                name="photoUrl"
                id="photoUrl"
                class="form-control"
                formControlName="photoUrl"
                required
              />
            </div>
            <div class="modal-footer">
              <button
                type="button"
                class="btn btn-ligth"
                data-bs-dismiss="modal"
              >
                Cerrar
              </button>
              <button type="submit" id="btnGuardar" class="btn btn-dark">Guardar</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>

  <!-- termina modal -->
  <div
    class="col-xs-12 col-sm-3 col-md-3 col-lg-3 containerinfo datospersonales"
  >
    <p class="nombre">{{ persona.nombre }} {{ persona.apellido }}</p>
    <p>{{ persona.titulo }}</p>
  </div>
  <div class="acercademi col-xs-12 col-sm-8 col-md-8 col-lg-8">
    <!-- <span> -->
    <h1>Acerca de mí</h1>
    <p>
      {{ persona.about }}
    </p>
    <!-- </span> -->
  </div>
</div>
