<div class="row">
    <div class="col-xs-11 containerfoto">
        <img src="../../../assets/profilePhoto.jpg" alt="Foto de perfil" class="img-fluid fotodeperfil">
    </div>
    <div class="container-edit" *ngIf="isLogged">
        <button type="button" class="col-xs-1 btn btn-ligth edit" data-bs-toggle="modal" data-bs-target="#personaModal">
            <img src="../../../assets/edit.svg">
        </button>
    </div>



    <!-- MODAL -->
    <div class="modal fade" id="personaModal" tabindex="-1" aria-labelledby="personaModalLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h3 class="modal-title" id="personaModalLabel">Datos Personales</h3>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form >
                    <div class="form-group">
                      <label for="Nombre">Nombre</label>
                      <input
                        type="text"
                        name="Nombre"
                        id="Nombre"
                        class="form-control"
                        
                        required
                      />
                    </div>
                    <div class="form-group">
                      <label for="Apellido">Apellido</label>
                      <input
                        type="text"
                        name="Apellido"
                        id="Apellido"
                        class="form-control"
                        
                        required
                      />
                    </div>
                    <div class="form-group">
                      <label for="titulo">Titulo</label>
                      <input
                        type="text"
                        name="titulo"
                        id="titulo"
                        class="form-control"
                        
                        required
                      />
                    </div>
                    <div class="form-group">
                      <label for="about">Acerca de mi</label>
                      <input
                        type="number"
                        name="about"
                        id="about"
                        class="form-control"
                        
                        required
                      />
                    </div>
                    <div class="form-group">
                      <label for="linkedinUrl">Linkedin</label>
                      <input
                        type="text"
                        name="linkedinUrl"
                        id="linkedinUrl"
                        class="form-control"
                        
                        required
                      />
                    </div>
                    <div class="form-group">
                      <label for="githubUrl">GitHub</label>
                      <input
                        type="text"
                        name="githubUrl"
                        id="githubUrl"
                        class="form-control"
                        
                        required
                      />
                    </div>
                    <div class="form-group">
                      <label for="email">Email</label>
                      <input
                        type="email"
                        name="email"
                        id="email"
                        class="form-control"
                        
                        required
                      />
                    </div>
                    <div class="modal-footer">
                      <button type="button" class="btn btn-ligth" data-bs-dismiss="modal">Cerrar</button>
                      <button type="button" class="btn btn-dark">Guradar</button>
                    </div>
                  </form>
            
            </div>
            
          </div>
        </div>
      </div>










    <!-- termina modal -->
    <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3 containerinfo datospersonales">
        <p class="nombre"> {{persona.nombre}} {{persona.apellido}}</p>
        <p>{{persona.titulo}}</p>
    </div>
    <div  class="acercademi col-xs-12 col-sm-8 col-md-8 col-lg-8">
        <!-- <span> -->
            <h1>Acerca de mí</h1>
            <p>Deseo formar parte de un equipo que me permita poner en práctica mis conocimientos y seguir aprendiendo en cada nuevo desafío. Puedo aportar mi creatividad y capacidad analítica a la hora de resolver problemas. <br>

                Soy responsable con buena capacidad de organización. Asumo mis trabajos con compromiso y dedicación. Me destaco en mi empeño y perseverancia por conseguir los mejores resultados. <br>
                
                Poseo conocimientos de diseño gráfico y fotografía. Me gusta capacitarme y tengo facilidad de aprendizaje lo cual me permite adaptarme a los cambios.</p>
        <!-- </span> -->
    </div>
</div>