<div class="row navbar">
    <div class="container">
        <div class="logo">
            <img src="../../../assets/APLogo.png" id="logoAP" alt="Logo Argentina Programa">
            <p>#YoProgramo</p>
        </div>
        <div class="redes">
                <a href="https://www.linkedin.com/in/mariquenaallosa/" target="_blank"><img src="../../../assets/linkedin.png" alt="Logo Linkedin"></a>
                <a href="https://github.com/mariquenaallosa" target="_blank"><img src="../../../assets/github1.png" alt="Logo GitHub"></a>
                <a href="https://www.instagram.com/mariquenaallosa/" target="_blank"><img src="../../../assets/instagram.png" alt="Logo Instagram"></a>
                
                <button type="button" class="btn btn-light" (click)="login()" *ngIf="!isLogged">Ingreso</button>
                <button type="button" class="btn btn-light" (click)="onLogout()" *ngIf="isLogged">Cerrar Sesión</button>
        </div>
    </div>
</div>
